'atom-workspace':
  # Disabled because it conflicts with Nuclide's cmd-b b, cmd-b t, and other keybindings.
  #'cmd-b': 'nuclide-task-runner:Buck-build'
  'alt-cmd-b': 'nuclide-task-runner:toggle-Buck-toolbar'
